/* Общие стили */
body {
    font-family: var(--default-font), sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    background-color: var(--block-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 1px;
    min-width: 100%;
    user-select: none;
    cursor: default;
}

html.dark body {
    background-color: #0f0f0f;
    color: #fff;
}

body.order-mode {
    background-color: var(--bg-color);
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Стили для контейнера меню */
.container {
    max-width: 600px;
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Выравниваем содержимое по центру */
}

.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column; /* Располагаем элементы товара в столбик */
    text-align: center; /* Выравниваем по центру */
    margin-bottom: 20px; /* Увеличиваем отступ между товарами */
}

.img {
    width: 80px; /* Увеличиваем размер изображений */
    height: auto;
    margin-bottom: 10px; /* Увеличиваем отступ снизу изображений */
}

.btn {
    background-color: rgb(248, 168, 24);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Увеличиваем отступ над кнопками */
}

.quantity {
    color: #fff; /* Белый цвет текста количества */
    margin-right: 10px;
    display: inline-block; /* Делаем отображение inline */
    visibility: hidden; /* Скрываем количество, если равно 0 */
}

.item:hover .quantity {
    visibility: visible; /* Отображаем количество при наведении */
}

/* Стили для формы заказа */
#order-final {
    display: none;
    margin-top: 20px;
    color: #fff; /* Белый цвет текста в форме заказа */
}

#order-list {
    margin-bottom: 10px;
    color: #fff; /* Белый цвет текста списка заказов */
}

#tel,
#email {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Стили для кнопок возврата */
#return-to-menu {
    background-color: #ff4500;
    margin-right: 10px;
}

.usercard {
    /* Дополнительные стили для usercard */
}

/* Дополнительные стили для Telegram WebApp */
/* Здесь могут быть стили для элементов Telegram WebApp, если они предусмотрены */
.quantity {
    color: #fff; /* Белый цвет текста счетчика */
    margin-right: 10px;
    display: inline-block; /* Делаем отображение inline */

}
