/* Общие стили */
body {
    font-family: var(--default-font), sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100%; /* Ширина равна ширине экрана */
    user-select: none;
    cursor: default;
}

html.dark body {
    background-color: #0f0f0f;

}

body.order-mode {
    background-color: var(--bg-color);
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Стили для контейнера меню */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent; /* Прозрачный фон контейнера */
    border-radius: 10px;
    box-shadow: none; /* Убираем тень */
}

.inner {
    display: flex;
    flex-direction: column; /* Располагаем товары в столбик */
    align-items: center; /* Выравниваем по центру */
}

.item {
    margin-bottom: 20px; /* Увеличиваем расстояние между товарами */
    text-align: center; /* Выравниваем текст по центру */
}

.img {
    width: 100px; /* Увеличиваем размер изображений */
    height: auto;
    margin-bottom: 10px; /* Увеличиваем отступ снизу изображений */
}

.btn {
    background-color: rgb(248, 168, 24);
    color: #fff;
    border: none;
    padding: 10px 20px; /* Увеличиваем размер кнопок */
    border-radius: 5px;
    cursor: pointer;
}

.quantity {
    margin-top: 5px; /* Увеличиваем отступ над количеством */
}

/* Стили для формы заказа */
#order-final {
    display: none;
    margin-top: 20px;
}

#order-list {
    margin-bottom: 20px; /* Увеличиваем расстояние до формы заказа */
}

#tel,
#email {
    width: calc(100% - 20px); /* Ширина равна ширине контейнера с отступами */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Учитываем внешние отступы */
}

/* Стили для кнопки возврата */
#return-to-menu {
    background-color: #ff4500;
    margin-right: 0; /* Убираем правый отступ */
}
